*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    min-width: 100vw;
    min-width: 100vh;
    background-color: white;
    /* display: flex; */
}
#left {
    background-color: red;
    width: 300px;
    clear: both;
    float: left;
}
#right {
    background-color: blue;
    width: 300px;
    float: right;
}